{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/st.css' %}">

<div class="container pt-5">
    <div class="row">
        <div class="col-md-6 align-items-center">
            <h1>Food Is Life And It's Brings Happiness!</h1>
            <p>Fast food can get a bad rap. Sure, it's usually not the healthiest option for something to eat—but it's always there when you need it, like when you're on a road trip, are hungover, have a case of the late-night munchies or simply need food that's quick—and cheap. </p>
        </div>
        <div class="col-md-6">
            <img class="home-img" src="static/images/food1.jpg" alt="food 1" />
        </div>
    </div>
  </div>






{% endblock %}