{% extends "base.html" %}
{% load static %}


{% block content %}
    <link rel="stylesheet" href="{% static 'css/s.css' %}">

    <div class="about_us">
        <h1 class="about">FOODDO</h1>
    </div>

    <div class="container pt-5">
        <div class="row">
            <div class="col-md-6">
                <img class="my_pic" src="{% static 'images/my.jpg' %}" alt="my pic" />
            </div>
            <div class="right col-md-6 align-items-center">
                <h3>About Me</h3>
                <p>Hi there its me saiful, i love programming beacuse when i solve a problem its give me happiness!</p>
            </div>
        </div>
    </div>
{% endblock %}
